.user-filtering-container {
    padding-top: 30px;
    /* Add top padding between UserFiltering and MenuAppBar */
}

/* YourComponent.css */
.two-column-container {
    display: flex;
    justify-content: space-between;
    /* Adjust alignment as needed */
}

.column {
    flex: 1;
    margin: 0 5px;
    padding-left: 0px;
    /* Adjust the minimum width as needed */
    /* Adjust margin between columns as needed */
}

.column .MuiTextField-root {
    width: 100%;
    /* Set the TextField to take 100% of its container width */
    min-width: 250px;
    /* Adjust the minimum width of the TextField as needed */
}

.column .MuiFormControl-root {
    width: 100%;
    /* Set the FormControl to take 100% of its container width */
    min-width: 250px;
    /* Adjust the minimum width of the FormControl as needed */
}

.search-container {
    display: flex;
    align-items: center;
    /* Vertical center alignment */
}

.button{
    font-size: 16px;
    /* Increase the font-size as needed */
    width: 140px;
    height: 50px;
}

.search-text {
    /* margin-right: 10px; */
    /* Adjust the margin as needed */
}

/* Additional styling for the InfoIcon if necessary */
.info-icon img {
    width: 18px;
    height: 18px;
    padding-left: 5px;
}

/* UserFiltering.css */

.dropdown-container {
    margin-top: 20px;
    /* Adjust the margin as needed */
}

.input-container {
    display: flex;
    align-items: center;
    /* Center vertically */
}

/* Adjust margin or spacing between elements as needed */
.input-container>* {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.column-button {
    width: 100%;
    /* Set the button to take 100% of its container width */
    min-width: 100px;
    /* Adjust the minimum width of the button as needed */
    margin-top: 40px;
    /* Adjust the margin-top as needed for spacing */
}

